<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPoly"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.jtmk.smartpoly.PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.AddDiscussionActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.editProfile"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.ContactUs"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.UploadActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.FeedbackActivity"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="app.rive.runtime.kotlin.RiveInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="com.jtmk.smartpoly.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.AuthActivity"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.jtmk.smartpoly.AboutUs"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.Staff"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.Activities"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.Intro"
            android:exported="false" />
        <activity
            android:name="com.jtmk.smartpoly.SplashScreen"
            android:exported="true" />
        <activity
            android:name="com.jtmk.smartpoly.MotionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>